[submodule "nvim"]
	path = nvim
	url = git@github.com:conradSamet/nvim.git
	branch = main
	update = merge
[submodule "zsh"]
	path = zsh
	url = git@github.com:conradSamet/zsh.git
	branch = main
	update = merge
[submodule "tmux"]
	path = tmux
	url = git@github.com:conradSamet/tmux.git
	branch = main
	update = merge
